html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Typographical Styles */



/* Utility Classes */

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}